# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.tgz